body {
  background-color: black;
}

.topbar {
  display: flex;
  justify-content: space-between;
  margin: 15px;
}

.linkHider {
  text-decoration: none;
  color: white;
}

nav {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
  text-transform: uppercase;
  font-size: 130%;
  font-family: monospace;
  align-items: center;
}
