body {
  background-color: black;
  color: white;
  margin: 0;
  font-family: monospace;
}

.topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  margin: 20px;
  z-index: 2;
}

.linkHider {
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
  text-transform: uppercase;
  font-size: 130%;
  align-items: center;
}

.homeSlide {
  background-image: url(./images/enq1998sky.jpg);
  z-index: 0;
  position: relative;
  background-position: center;
  height: 1200px;
}

.aboutSlide {
  background-image: url(./images/nicholascapellocharts.jpg);
  z-index: 0;
  position: relative;
  background-size: auto 110%;
  background-position: center;
  height: 1200px;
}

.valueSlide {
  background-image: url(./images/rivagecrafts.jpg);
  z-index: 0;
  position: relative;
  background-size: auto 110%;
  background-position: center;
  height: 1200px;
}

.discussSlide {
  background-image: url(./images/shubhamdhagefolds.jpg);
  z-index: 0;
  position: relative;
  background-size: auto 110%;
  background-position: center;
  height: 1200px;
}

.typeOn {
  position: absolute;
  bottom: 550px;
  left: 25px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.typeOn_tagline {
  font-weight: 150;
  opacity: 1;
  font-size: 150%;
  z-index: 1;
}

.typeOn_title {
  font-weight: 900;
  opacity: 1;
  font-size: 500%;
  z-index: 1;
  text-transform: uppercase;
}

.typeOn_seymour {
  font-weight: 100;
  opacity: 1;
  font-size: 150%;
  z-index: 1;
  padding: 10px;
  border: solid 2px;
  margin-right: auto;
  background-color: lavender;
  border-color: blue;
}

footer {
  text-align: center;
  font-family: monospace;
  color: grey;
}
